.banner {
    position: relative;
    background-image: url('../../../assets/banner-background.jpg');
    background-size: cover;
    background-size: 100% 100%;
    padding: 15rem 0;
    overflow: hidden;
}

/* .banner__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
} */

.banner__container {
    width: 60%;
    margin: 0 auto;
}

.banner__title {
    color: #fff;
    font-size: 3rem;
    font-family: var(--poppins);
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.banner__subtitle {
    color: #fff;
    font-size: 1.2rem;
    font-family: var(--noto-sans);
    margin-bottom: 1rem;
    width: 70%;
}


.search-input--banner {
    border-radius: 4px;
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}

.search-input--banner input {
    font-size: 1.3rem;
    color: #aaa;
}

.search-input--banner span i {
    font-size: 1.3rem;
}